@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700;800&display=swap');

body{
  background: #e0e0e0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #e0e0e0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #e0e0e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Nunito', sans-serif;
  
}

.App{
  text-align: center;
  margin: 100px 10px 10px 10px;
}

.App h1{
  color: #959391;
  font-weight: 800;
}

.App p{
  color: #959391;
  font: 500;
}

.App input{
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: #959391;
  background: #ECE9E6;
  box-shadow:  -3px 3px 5px #959391,
                3px -3px 5px #ffffff;
  font-size: medium;
  font-weight: bold;
  width: 500px;
}

@media (max-width:600px) {
  .App input{
    width: 300px;
  }
}

.App input:focus {
  outline-color: white;
}

.div-button{
  display: flex;
  justify-content: center;
  margin-left: 100px;
  color: #959391;
}

@media (max-width:650px) {
  .div-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    text-align: center;
    margin-right: 20px;
  }
  
  .div-button button{
    height: 50px;
  }
  .div-button h2{
    font-size: 1.2em;
  }
}

.div-button button{
  margin-top: 20px;
  margin-left: 20px;
  color: #959391;
  cursor: pointer;
  padding: 0.7em 1.7em;
  border-radius: 0.5em;
  background: #ECE9E6;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow:  -3px 3px 5px #959391,
                3px -3px 5px #ffffff;
  font-size: medium;
  font-weight: bold;
  max-width: 130px;
}

.div-button button:active{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
}

.not-found {
  margin-top: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 200px 0px 200px;
}

@media (max-width:600px) {
  .container{
    margin: 10px 10px 0px 10px;
  }
}

.cards{
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  color: #959391;
}

.card h1{
  margin-top: 30px;
  font-size: 1.4em;
}

.card-body {
  height: 300px;
  width: 300px;
  text-align: left;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
  color: #959391;
  border-radius: 10px;
  background: #ECE9E6;
  box-shadow:  -5px 5px 10px #959391,
                5px -5px 10px #ffffff;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s,
              transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.card-body:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.card-body h3 {
  color: #777675;
  font-size: 1.3em;
}

.language{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.paragraphs{
  margin-left: 20px;
  font-weight: bold;
}

.paragraphs span{
  font-weight: 400;
}
